<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <title>Pawsome</title>
    </head>
<body>
<%- include('../partials/header.ejs') %>
<main>
    <h2>Creación de productos</h2>
    <form action="/products/create" method="POST">
        <fieldset>
            <label for="product-name">Nombre del producto</label>
            <input class="dato" name="nombre" type="text" id="product-name">
        </fieldset>
        <fieldset>
            <label for="product-description">Descripcion del producto</label>
            <input class="dato" name="descripcion" type="text" id="product-description">
        </fieldset>
        <fieldset>
            <label for="product-image">Imagen del producto</label>
            <input class="dato" name="imagen" type="image" id="product-image">
        </fieldset>
        <fieldset>
            <label for="product-category">Categoría del producto</label>
            <select class="dato" name="categoria" id="product-category">
                <option value="1">Perros</option>
                <option value="2">Gatos</option>
                <option value="3">Ambos</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="product-price">Precio del producto</label>
            <input class="dato" name="precio" type="number" id="product-price">
        </fieldset>
        <button type="submit">CREAR</button>
    </form>
</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>