<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Pawsome</title>
</head>
<body>
    <header>
        <img src="/img/pawsome.png" width="300">
        <form class="searchbar">
            <input type="search" id="search" class="box">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>  
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>

        </section>
        <section>
            
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>