<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Pawsome</title>
</head>
<body>
    <header>
        <section class="links">
            <div class="menu">
                <i class="fas fa-light fa-bars"></i>
            </div>
            <div class="user">
                <a href="/login"><i class="fas fa-solid fa-user"></i></a>
            </div>
            <div class="cart">
                <a href="/productCart"><i class="fas fa-solid fa-cart-plus"></i></a>
            </div>
        </section>  
        <a href="/"><img src="/img/pawsome.png" width="330"></a>
        <form class="searchbar">
            <input type="search" id="search" class="box" placeholder="Buscar un producto o artículos">
            <button type="submit" class="icon"><i class="fas fa-search"></i></button>
        </form>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Más buscados</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="titulo">Ofertas</div>
            <article>
                <img class="producto" src="/img/palitos-de-pollo.png" width="250">
                <div class="linea"></div>
                <h2>Palitos de Pollo</h2>
                </div>
                <p class="desc">Palitos horneados con sabor a pollo. El snack ideal para sacar a pasear a tu perro. Producto libre de colorantes artificiales</p>
                <p class="precio">$1.200</p>
            </article>
            <article>
                <img class="producto" src="/img/hueso.png" width="250">
                <div class="linea"></div>
                <h2>Hueso</h2>
                <p class="desc">El Hueso Flotante de la Línea Water Action es un juguete antistress para divertirse en el agua con tus mascotas. 100% flotantes, resistente al agua y a la exposición del sol.</p>
                <p class="precio">$1.450</p>
            </article>
            <div class="titulo">Más buscados</div>
            <article>
                <img class="producto" src="/img/3-pro-plan-adult-cat.png" width="250">
                <div class="linea"></div>
                <h2>Purina Pro Plan</h2>
                <p class="desc">Alimento completo y balanceado para gatos adultos de todas las razas. Es una tecnología exclusiva, con una combinación de prebióticos y antioxidantes naturales, que ayudan a optimizar la digestión y 
                a mantener fuertes las defensas naturales de tu gato, protegiendo su sistema inmunológico contra las amenazas externas.</p>
                <p class="precio">$2.100</p>
            </article>
            <article>
                <img class="producto" src="/img/6-pro-plan-puppy-razas-medianas.png" width="250">
                <div class="linea"></div>
                <h2>Purina Pro Plan</h2>
                </div>
                <p class="desc">Protección durante su primer año de vida. Formulado con carne fresca de pollo como ingrediente principal, además de vitaminas y minerales esenciales, PRO PLAN® Puppy Razas Medianas ofrece una óptima nutrición para cachorros en crecimiento.</p>
                <p class="precio">$2.450</p>
            </article>
        </section>
    </main>
    <footer>
        <section class="iconos">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        <section>
            <div class="link">Contactanos <i class="fas fa-angle-down"></i></div>
            <div class="link">Sobre Nosotros <i class="fas fa-angle-down"></i></div>
            <div class="link">Medios de pago <i class="fas fa-angle-down"></i></div>
        </section>
        <section>
           <p>© Pawsome 2023. Todos los derechos reservados</p>
        </section>
    </footer>
</body>
</html>