<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Pawsome</title>
</head>
<body>
    <header>
        <section class="links">
            <div class="menu">
                <i class="fas fa-light fa-bars"></i>
            </div>
            <div class="user">
                <i class="fas fa-solid fa-user"></i>
            </div>
            <div class="cart">
                <i class="fas fa-solid fa-cart-plus"></i>
            </div>
            </section>  
        <img src="/img/pawsome.png" width="300">
        <form class="searchbar">
            <input type="search" id="search" class="box" placeholder="Buscar un producto o artículos">
            <button type="submit" class="icon"><i class="fas fa-search"></i></button>
        </form>
    </header>
    <main>
        <section>
            <article>
                <img class="producto" src="/img/palitos-de-pollo.png" width="250">
                <div class="linea"></div>
                <h1>Palitos de Pollo</h1>
                <p class="desc">Palitos horneados con sabor a pollo. El snack ideal para sacar a pasear a tu perro. Producto libre de colorantes artificiales</p>
            </article>
            <article>
                <img class="producto" src="/img/hueso.png" width="250">
                <div class="linea"></div>
                <h1>Hueso</h1>
                <p class="desc">El Hueso Flotante de la Línea Water Action es un juguete antistress para divertirse en el agua con tus mascotas. 100% flotantes, resistente al agua y a la exposición del sol.</p>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>