<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Pawsome</title>
</head>
<body>
    <header>
        <section class="links">
            <div class="menu">
                <i class="fas fa-light fa-bars"></i>
            </div>
            <div class="user">
                <a href="/register"><i class="fas fa-solid fa-user"></i></a>
            </div>
            <div class="cart">
                <i class="fas fa-solid fa-cart-plus"></i>
            </div>
            </section>  
        <img src="/img/pawsome.png" width="330">
        <form class="searchbar">
            <input type="search" id="search" class="box" placeholder="Buscar un producto o artículos">
            <button type="submit" class="icon"><i class="fas fa-search"></i></button>
        </form>
    </header>
    <main>
        <div class="shopping-basket">
            <h1><i class="fas fa-shopping-basket"></i>Carrito de compras</h1>
        </div>
        <div>
            <section>
                <article>
                    <img class="producto" src="/img/dentalife-perro-purina.png" with="250">
                    <p>Dentalife:</p>
                    <p> Galletitas Dentalife Perro Raza Pequeña.
                    </p>
                    <p class="precio">$450</p>
                </article>
                <article>
                    <img class="producto" src="/img/hueso.png" width="250">
                    <div class="linea"></div>
                    <h2>Hueso</h2>
                    <p class="desc">El Hueso Flotante de la Línea Water Action</p>
                    <p class="precio">$1.450</p>
                </article>
            </section>
        </div>
        <div class="contenedor-descuentos">
            <p>Cupón / Descuento</p>
        </div>
        <div class="submit">
            <button type="submit" class="finalizar" id="button">Finalizar tu compra</button>
        </div>
    </main>
    <footer>
        <section class="iconos">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        <section>
            <div class="link">Contactanos <i class="fas fa-angle-down"></i></div>
            <div class="link">Sobre Nosotros <i class="fas fa-angle-down"></i></div>
            <div class="link">Medios de pago <i class="fas fa-angle-down"></i></div>
        </section>
        <section>
           <p>© Pawsome 2023. Todos los derechos reservados</p>
        </section>
    </footer>
</body>
</html>