body {
    background-color:white;
    font-family:'Roboto', sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */

.fit {
    display:none;
}

header {
    background-color:white;
}

header nav {
    display:none;
}

header ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

header img {
    width: 330px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-top:-25px;
}


.searchbar {
    width:100%;
}

.box {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:85vw;
    position:relative;
    border:1px solid #eaeaea;
    background-color:#f6f6f6;
    text-align:center;
    padding:6px;
    border-radius:99px;
    bottom:45px;
}

.links {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
}

.links a {
    color:#fff;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.menu {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#7a6c5d;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.menu button  {
    padding: 0;
    border: none;
    background:none;
    color:#fff;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    width:40px;
    cursor:pointer;
}

.cerrar-menu {
    display:block;
    border:0;
    font-size:1.25rem;
    background-color:transparent;
    cursor:pointer;
    margin-bottom:10px;
}

.nav {
    opacity:0;
    visibility:hidden;

    position:fixed;
    z-index:9;
    display:flex;
    flex-direction:column;
    align-items:end;
    top:0;
    right:0;
    bottom:0;
    background-color:#2a3d45;
    border-left:5px solid #c17c74;
    padding:2rem;
    color:white;

}

.nav.visible {
    opacity:1;
    visibility:visible;
}

.nav-list {
    display:flex;
    flex-direction: column;
}


.paws {
    font-size:10px;
}

.paws i {
    padding:5px;
}

.user {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#2a3d45;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.cart {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#c17c74;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.menu i {
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
}

.cart i {
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    display:flex;
    flex-wrap: wrap;
}

.user i {
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    display:flex;
    flex-wrap: wrap;
}

.icon {
    background-color:#f6f6f6;
    padding:6px;
    width:5vw;
    border:transparent;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    bottom:71px;
    left:32px;
    font-size:10px;
}

fieldset {
    border-color:transparent;
}


/* MAIN */

.product-container article {
    width:550px;
}

.products-desc {
    font-size:13px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    color:#7a6c5d;
}

.products-image {
    max-width:350px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
}

.create-button a {
    color:#3E3C2B;
    text-decoration:none;
}

.titulo {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-align:center;
    padding:10px;
    margin-bottom:7px;
    color:#2a3d45;
    text-transform:uppercase;
    letter-spacing:1.5px;
}

article h2 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

section {
    width:100%;
}

article {
    width:85vw;
    height:auto;
    background-color:#f6f6f6;
    margin-left:auto;
    margin-right:auto;
    border-top:10px solid #f6f6f6;
    margin-bottom:80px;
    border-radius:5px;   
}

.detail{
    text-decoration: none;
}

.producto {
    width:75vw;
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.linea {
    border-bottom:1px solid #eaeaea;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

.error-text {
    font-family:'Roboto', sans-serif;
    font-size:50px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
}

h3 {
    font-family:'Roboto', sans-serif;
    font-size:15px;
    text-transform:uppercase;
    padding:15px;
    color:#c17c74;
    font-weight:bolder;
    text-align:center;
    margin-top:-40px;
}

.error-img {
    margin-top:25px;
    display:flex;
    justify-content: center;
}

.error-img img {
    max-width:400px;
}

h1 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
}

h2 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
}

h4 {
    margin:auto;
    text-align:center;
    font-size:12px;
    color:#7a6c5d;
    font-weight: 100;
    width:60vw;
}

.desc {
    font-size:13px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    color:#7a6c5d;
}

.precio {
    font-size:17px;
    background-color:#c17c74;
    color:white;
    font-weight:bold;
    padding:10px;
    text-align:center;
    width:80px;
    height:40px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:15px;
    margin-top:15px;
}

.aboutus-image {
    margin-top:10px;
    display:flex;
    justify-content: center;
}

.aboutus-image img {
    width:70vw;
    max-width:500px;
    border-radius:5px;
}

/* REGISTER.HTML */


main h1 {
    text-transform:uppercase;
}

main i {
    font-size:18px;
    color:#c17c74;
    transform: rotate(-20deg);
    margin-right:10px;
}

h2 {
    font-family:'Roboto', sans-serif;
    text-align:center;
    font-size:16px;
    color:#A4A4A4;
    font-weight:lighter;
    width:98vw;
}

h2 a {
    text-transform:none;
    color:#c17c74;
    font-weight:bold;
    font-style:none;
}

.registro {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.dato {
    display: flex;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:80vw;
    padding:7px;
    margin-top:20px;
    margin-bottom:25px;
    font-size:12px;
    background-color:#f6f6f6;
    border:1px solid #eaeaea;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.create-form-input {
    display: flex;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:50vw;
    padding:7px;
    margin-top:20px;
    margin-bottom:25px;
    font-size:12px;
    background-color:#f6f6f6;
    border:1px solid #eaeaea;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.aceptar {
    font-size:13px;
    color:#595959;
    text-align:center;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}

.submit {
    text-align:center;
    width:100vw;
}

.enviar {
    text-transform:uppercase;
    background-color:#ddc9b4;
    border-color:transparent;
    color:#3E3C2B;
    margin-left: auto;
    margin-right: auto;
    padding:8px;
    margin-top:15px;
    width:60vw;
    font-weight:bold;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}

.enviar:hover {
    background-color:#c0ae9a;
    box-shadow: #A4A4A4;
    transition-duration: 0.3s;
}



.borrar {
    text-transform:uppercase;
    background-color:#ddc9b4;
    border-color:transparent;
    color:#3E3C2B;
    margin-left: auto;
    margin-right: auto;
    padding:8px;
    margin-top:15px;
    width:15vw;
    font-weight:bold;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}

.create-button {
    display:flex;
    justify-content: center;
    text-transform:uppercase;
    background-color:#ddc9b4;
    border-color:transparent;
    color:#3E3C2B;
    font-weight:bold;
    width:10vw;
    padding:8px;
    margin-left:auto;
    margin-right:auto;
}

main div.shopping-basket {
    font-size: 28px;
    color: darkgray;
    margin-right: 10px;
}

main div.shopping-basket h1 i {
    font-size:18px;
    color:#7a6c5d;
    transform: rotate(0deg);
    margin-right:10px;
}

.create-form {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.label-style {
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    color:#2a3d45;
    font-weight:bold;
    margin-bottom:15px;
    margin-top:15px;
}

.checkbox {
    font-size:12px;
    margin:8px;
}

.mensaje-error {
    Text-align: center;
    color: #CC0000;
}

.no-valid {
    border: 1px solid #CC0000;
}

/* FOOTER */

footer {
    left:0;
    bottom:0;
    width: 100%;
    background-color:#f6f6f6;
    color: white;
    text-align: center;
    border-top:1px solid #eaeaea;
    margin-top:15px;
}

footer section {
    margin-left:auto;
    margin-right:auto;
}

.iconos {
    border-bottom:1px solid #eaeaea;
}

.iconos i {
    color:#2a3d45;
    margin-top:5px;
    font-size:25px;
    padding:5px;
    margin-bottom:5px;
}

p {
    color:#595959;
    font-size:12px;
    text-align:center;
    margin-top:10px;
    max-width:80vw;
    margin-left:5px;
}

.link {
    width:100%;
    padding:10px;
    margin-left:auto;
    color:#595959;
    font-size:13px;
    border-bottom:1px solid #eaeaea;
    text-transform: uppercase;
}

.link a {
    color:#595959;
    text-decoration: none;
}

.link i {
    text-align:right;
    font-size:12px;
    color:#7a6c5d;
    display:flex;
    flex-direction: row-reverse;
    margin-top:-12px;
}

.copyright {
    margin:auto;
    display: flex;
    text-align:center;
    justify-content: center;
    width:100%;
    padding:10px;
}

.imgbox {
    display:none;
}

/* SHOPPING CART */

.contenedor-descuentos {
    margin: auto;
    width: 60vw;
    background: #bcac9b;
    font-size: 18px;
    text-align: center;
}

.finalizar {
    text-transform:uppercase;
    background-color:#ddc9b4;
    border-color:transparent;
    color:#3E3C2B;
    margin-left: auto;
    margin-right: auto;
    padding:8px;
    margin-top:15px;
    width:30vw;
    font-weight:bold;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}


/* TABLET */

@media (min-width: 420px){

    .nav-menu {
        opacity:0;
        visibility:hidden;
    }


    .searchbar {
        width:80vw;
        margin: auto;
    }

    header nav {
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        }

    .nav-bar{
        background: #bcac9b;
    }

    main section {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        margin-top:20px;
    }

    main section article {
        width:45vw;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        max-width:280px;
    }

    main section article img {
        margin-top:15px;
        max-width:180px;
        display:flex;
        flex-wrap: wrap;
    }

    .imgbox {
        display: grid;
        width:100%;
    }

    .fit {
        display:none
    }

    .img-logo {
        max-width:300px;
        top:40px;
        margin-top:0px;
        margin-bottom:90px;
        position:relative;
        border-radius:100%;
        width:65%;
        z-index:9;
    }

}

/* DESKTOP */

@media (min-width:770px){

    .header-images {
        width:100%;
    }

    .imgbox {
        display:grid;
        width:100%;
    }

    .fit {
        display:grid;
        max-width:100%;
        max-height:100vh;
        margin:auto;
        margin-top:-190px;
        z-index:1;
    }

    .img-logo {
        border:5px solid #f6f6f6;
        z-index:9;
        justify-content:center;
    }
    
    header img {
        max-width:350px;
    }

    main section article {
        width:30vw;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        max-width:280px;
    }

    main section article img {
        margin-top:15px;
        max-width:220px;
        display:flex;
        flex-wrap: wrap;
    }

    .menu,
    .user,
    .cart {
        width:33vw;
        top:100%;
    }

    .box {
        width:45vw;
    }

    .icon {
        background-color:transparent;
        display:flex;
        flex-wrap:wrap;
        margin-left:20%;
    }

    .icon i {
        display:flex;
        flex-wrap:wrap;
        justify-content: left;
    }

}