body {
    background-color:white;
    font-family:'Roboto', sans-serif;
}

/* HEADER */

header img {
    width: 300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-top:-25px;
}

/* MAIN */

