body {
    background-color:white;
    font-family:'Roboto', sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color:white;
}

header nav {
    display:none;
}

header img {
    width: 330px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-top:-25px;
}

.searchbar {
    width:100%;
}

.box {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:85vw;
    position:relative;
    border:1px solid #eaeaea;
    background-color:#f6f6f6;
    text-align:center;
    padding:6px;
    border-radius:99px;
    bottom:45px;
}

.links {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
}

.links a {
    color:#fff;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.menu {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#7a6c5d;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.user {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#2a3d45;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

.cart {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#c17c74;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.menu i {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:20px;
}

.cart i {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        font-size:20px;
}

.user i {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:20px;
}

.icon {
    background-color:#f6f6f6;
    padding:6px;
    width:10vw;
    border:transparent;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    bottom:71px;
    left:32px;
    font-size:10px;
}

/* MAIN */

.titulo {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-align:center;
    padding:10px;
    margin-bottom:7px;
    color:#2a3d45;
    text-transform:uppercase;
    letter-spacing:1.5px;
}

article h2 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

section {
    width:100%;
}

article {
    width:85vw;
    height:auto;
    background-color:#f6f6f6;
    margin-left:auto;
    margin-right:auto;
    border-top:10px solid #f6f6f6;
    margin-bottom:80px;
    border-radius:5px;
}

.producto {
    width:75vw;
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.linea {
    border:1px solid #eaeaea;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

h1 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
}

h2 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
}

.desc {
    font-size:13px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    color:#7a6c5d;
    padding-bottom:15px;
}

.precio {
    font-size:17px;
    color:#2a3d45;
    font-weight:bold;
    padding:10px;
    margin-left:3px;
    text-align:left;
    width:30vw;
}

/* REGISTER.HTML */


main h1 {
    text-transform:uppercase;
}

main i {
    font-size:18px;
    color:#c17c74;
    transform: rotate(-20deg);
    margin-right:10px;
}

h2 {
    font-family:'Roboto', sans-serif;
    text-align:center;
    font-size:13px;
    color:#A4A4A4;
    font-weight:lighter;
    width:98vw;
}

h2 a {
    text-transform:none;
    color:#c17c74;
    font-weight:bold;
    font-style:none;
}

.registro {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.dato {
    display: flex;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:80vw;
    padding:7px;
    margin-top:20px;
    margin-bottom:25px;
    font-size:12px;
    background-color:#f6f6f6;
    border:1px solid #eaeaea;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.aceptar {
    font-size:13px;
    color:#595959;
    text-align:center;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}

.submit {
    text-align:center;
    width:100vw;
}

.enviar {
    text-transform:uppercase;
    background-color:#ddc9b4;
    border-color:transparent;
    color:#3E3C2B;
    padding:8px;
    margin-top:15px;
    width:60vw;
    font-weight:bold;
    margin-bottom:20px;
}

main div.shopping-basket {
    font-size: 28px;
    color: darkgray;
    margin-right: 10px;
}
.contenedor-descuentos {
    background: #bcac9b;
    font-size: 18px;
    text-align: center;
}

main div.shopping-basket h1 i {
    font-size:18px;
    color:#7a6c5d;
    transform: rotate(0deg);
    margin-right:10px;
}

/* FOOTER */

footer {
    left:0;
    bottom:0;
    width: 100%;
    background-color:#f6f6f6;
    color: white;
    text-align: center;
    border-top:1px solid #eaeaea;
    margin-top:15px;
}

footer section {
    margin-left:auto;
    margin-right:auto;
}

.iconos {
    border-bottom:1px solid #eaeaea;
}

.iconos i {
    color:#2a3d45;
    margin-top:5px;
    font-size:25px;
    padding:5px;
    margin-bottom:5px;
}

p {
    color:#595959;
    font-size:12px;
    text-align:center;
    margin-top:10px;
}

.link {
    width:100%;
    padding:10px;
    margin-left:auto;
    color:#595959;
    font-size:13px;
    border-bottom:1px solid #eaeaea;
    text-transform: uppercase;
}

.link i {
    text-align:right;
    font-size:12px;
    color:#7a6c5d;
    display:flex;
    flex-direction: row-reverse;
    margin-top:-12px;
}

@media (min-width:768px){
    .searchbar {
        width:80vw;
        margin: auto;
    }

    header nav {
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        }

    .nav-bar{
        background: #bcac9b;
    }

}