body {
    background-color:white;
    font-family:'Roboto', sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color:white;
}

header img {
    width: 300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-top:-25px;
}

.searchbar {
    width:100%;
}

.box {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:85vw;
    position:relative;
    border:1px solid #eaeaea;
    background-color:#f6f6f6;
    text-align:center;
    padding:6px;
    border-radius:99px;
    bottom:45px;
}

.links {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
}

.menu {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#7a6c5d;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.user {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#2a3d45;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

.cart {
    padding:20px;
    height:60px;
    font-size:30px;
    background-color:#c17c74;
    color:#fff;
    width:33.3vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.menu i {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:20px;
}

.cart i {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        font-size:20px;
}

.user i {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:20px;
}

.icon {
    background-color:#f6f6f6;
    padding:6px;
    width:10vw;
    border:transparent;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    bottom:71px;
    left:32px;
    font-size:10px;
}

/* MAIN */

section {
    width:100%;
}

article {
    width:85vw;
    height:auto;
    background-color:#f6f6f6;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:80px;
    border-radius:5px;
}

.producto {
    width:75vw;
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.linea {
    border:1px solid #eaeaea;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

h1 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    padding:15px;
    color:#7a6c5d;
    font-weight:bolder;
    text-align:center;
}

.desc {
    font-size:13px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    color:#7a6c5d;
    padding-bottom:15px;
}