<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div class="aboutus-image"><img src="/img/Pets.png"></div>
      <h1>Sobre nosotros</h1>
      <h4> Nos especializamos en productos para mascotas. Les ofrecemos una experiencia diferente,
          enfocada en las mascotas como un integrante más de la familia. Con productos de excelente
          calidad y variedad para el bienestar de ellas. 
          Contamos con las marcas más reconocidas del mercado.
      </h4>
          
    </main>
    <%- include('partials/footer.ejs') %>  
  </body>
</html>