<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <header>
        <section class="links">
            <div class="menu">
                <i class="fas fa-light fa-bars"></i>
            </div>
            <div class="user">
                <a href="/login"><i class="fas fa-solid fa-user"></i></a>
            </div>
            <div class="cart">
                <a href="/productCart"><i class="fas fa-solid fa-cart-plus"></i></a>
            </div>
        </section>  
        <a href="/"><img src="/img/pawsome.png" width="330"></a>
        <form class="searchbar">
            <input type="search" id="search" class="box" placeholder="Buscar un producto o artículos">
            <button type="submit" class="icon"><i class="fas fa-search"></i></button>
        </form>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Más buscados</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/productCart">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="aboutus-image"><img src="/img/Pets.png"></div>
        <h1>Sobre nosotros</h1>
        <h4> Nos especializamos en productos para mascotas. Les ofrecemos una experiencia difetente,
            enfocada en las mascotas como un integrante más de la familia. Con productos de excelente
            calidad y variedad para el bienestar de sus mascotas. 
            Las marcas más reconocidas del mercado.
        </h4>
        
    </main>
    <%- include('partials/footer.ejs') %>  
</body>
</html>