<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="titulo" id="ofertas">Ofertas</div>
        <section class="part">
            <a href="/products/productDetail/8" class="detail-h"><article>
                <img class="producto" src="/img/palitos-de-pollo.png" width="250">
                <div class="linea"></div>
                <h2>Palitos de Pollo</h2>
                <p class="desc">Palitos horneados con sabor a pollo. El snack ideal para sacar a pasear a tu perro. Producto libre de colorantes artificiales</p>
                <p class="precio">$1.200</p>
            </article></a>
            <a href="/products/productDetail/9" class="detail-h"><article>
                <img class="producto" src="/img/hueso.png" width="250">
                <div class="linea"></div>
                <h2>Hueso</h2>
                <p class="desc">El Hueso Flotante de la Línea Water Action es un juguete antistress para divertirse en el agua con tus mascotas. 100% flotantes, resistente al agua y a la exposición del sol.</p>
                <p class="precio">$1.450</p>
        
            </article></a>
            </section>
            <div class="titulo" id="mas-buscados">Más buscados</div>
            <section class="part">
                <a href="/products/productDetail/3" class="detail-h"><article>
                <img class="producto" src="/img/3-pro-plan-adult-cat.png" width="250">
                <div class="linea"></div>
                <h2>Purina Pro Plan</h2>
                <p class="desc">Alimento completo y balanceado para gatos adultos de todas las razas. Es una tecnología exclusiva, con una combinación de prebióticos y antioxidantes naturales, que ayudan a optimizar la digestión y 
                a mantener fuertes las defensas naturales de tu gato, protegiendo su sistema inmunológico contra las amenazas externas.</p>
                <p class="precio">$2.100</p>
            </article></a>
            <a href="/products/productDetail/5" class="detail-h"><article>
                <img class="producto" src="/img/6-pro-plan-puppy-razas-medianas.png" width="250">
                <div class="linea"></div>
                <h2>Purina Pro Plan</h2>
                </div>
                <p class="desc">Protección durante su primer año de vida. Formulado con carne fresca de pollo como ingrediente principal, además de vitaminas y minerales esenciales, PRO PLAN® Puppy Razas Medianas ofrece una óptima nutrición para cachorros en crecimiento.</p>
                <p class="precio">$2.450</p>
            </article></a>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>