<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="error-text">OOPS!</div>
        <h3>Page not found (404)</h3>
        <div class="error-img"><img src="/img/pngwing.com.png"></div>
        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>