<footer>
    <section class="iconos">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </section>
    <section>
        <div class="link">Contactanos <i class="fas fa-angle-down"></i></div>
        <div class="link">Sobre Nosotros <i class="fas fa-angle-down"></i></div>
        <div class="link">Medios de pago <i class="fas fa-angle-down"></i></div>
    </section>
    <section>
       <p>© Pawsome 2023. Todos los derechos reservados</p>
    </section>
</footer>