<header>
    <section class="links">
        <div class="menu">
            <button id="abrir" class="abrir-menu"><i class="fas fa-light fa-bars"></i></button>
            <nav class="nav" id="nav">
                <button id="cerrar" class="cerrar-menu">Cerrar</button>
                <ul>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#mas-buscados">Más buscados</a></li>
                    <li><a href="/products">Nuestros Productos</a></li>
                    <li><a href="/users/register">Creá tu cuenta</a></li>
                    <li><a href="/users/login">Ingresá</a></li>
                    <li><a href="/productCart">Carrito de Compras</a></li>
                </ul>
            </nav>
        </div>
        <div class="user">
            <a href="/users/login"><i class="fas fa-solid fa-user"></i></a>
        </div>
        <div class="cart">
            <a href="/productCart" target="_blank" rel="noopener noreferrer"><i class="fas fa-solid fa-cart-plus"></i></a>
        </div>
        </section>
        <div class="header-images">
            <a href="/"><img class="img-logo" src="/img/pawsome.png"></a>
            <div class="imgbox"><img class="fit" src="/img/headerimage.jpg"></div>
        </div>  
    <form class="searchbar">
        <input type="search" id="search" class="box" placeholder="Buscar un producto o artículos">
        <button type="submit" class="icon"><i class="fas fa-search"></i></button>
    </form>
    <nav class="nav-bar">
        <ul>
            <li><a href="#ofertas">Ofertas</a></li>
            <li><a href="#mas-buscados">Más buscados</a></li>
            <li><a href="/products">Nuestros Productos</a></li>
        </ul>
        <ul>
            <li><a href="/users/register">Creá tu cuenta</a></li>
            <li><a href="/users/login">Ingresá</a></li>
            <li><a href="/productCart">Carrito</a></li>
        </ul>
    </nav>
</header>
