<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
        <h2>Usuarios</h2>
        <ul>
            
        </ul>
        
     
    <%- include('../partials/footer.ejs') %>
</body>
</html>


